*{
    margin: 0;
    padding: 0;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* mon commentaire ici */


    /* permet d'aligner
     et de center les elements
     contenue dans un block */

     /* debut */

    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* fin */

body{
    width: 100%;
    background-color: white;
    padding: 0 20%;
    box-sizing: border-box;
}

@media (min-width: 576px) {
    body{
        padding: 0 0;
    }
}

@media (min-width: 992px) {
    body{
        padding: 0 20%;
    }
}


/* block menu */

.menu-conteneur{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: white;
    height: 60px;
}

/* block lien */

.liens-conteneur a{
  text-decoration: none;
  margin: 15px;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

/* button conteneur */

.bouton-conteneur button{
    border: none;
    font-weight: bold;
    font-size: 12px;
}

.white-button{
    background-color: white;
}

.colour-button{
    background-color: #2177f2;
    margin: 20px;
    color: white;
    padding: 06px;
    border-radius: 4px;
}

/* logo logo-conteneur  */

.logo-conteneur img{
    height: 50px;
    margin: 20px;

}


/* conteneur-presentation */

.conteneur-presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px ;
}

.conteneur-text ,.conteneur-image{
    width: 50%
}

.conteneur-image img{
    width: 100%;
}

.conteneur-text  h2{
    font-size: 40px;
    margin: 20px 0;  
}

.conteneur-text p{
    font-size: 14px;  
}

.conteneur-text button{
    padding: 08px 20px;
    margin: 05px;
}

.fond-couleur{
    background-color: #c7e0fe;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

.fond-couleur p{
    color: #2177f2;
    font-weight: bold;
    font-size: 12px;
}

.conteneur-bouton .bouton-bleu{
    background-color: #2177f2;
    border-radius: 8px;
    color: white;
    border: none;
}

.conteneur-bouton .bouton-noir{
    background-color: black;
    border-radius: 8px;
    color: white;
    border: none;
}

.conteneur-bouton{
    margin: 15px 0;
}

/* conteneur entreprise */

.conteneur-entreprise{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;    
}


.conteneur-entreprise .fond-couleur{
    width: 20%;
}


.conteneur-entreprise .conteneur-titre{
    margin: 20px;
}

.conteneur-entreprise .conteneur-image img{
    margin: 25px;
    width: 12%;
}

/* conteneur benefit */

.conteneur-benefit {
    background-color: white
}

.conteneur-benefit .fond-couleur{
    margin: 15px auto;
    width: 20%;
}

.conteneur-benefit h2{
    font-size: 30px;
    text-align: center;
    margin: 25px;
}

/* conteneur service  */


.conteneur-benefit .conteneur-service{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteneur-service .service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(190, 178, 178);
    border-radius: 10px;
    padding: 10px;

}

.conteneur-service .service{
    margin: 20px;
}

.conteneur-benefit .service-text p{
    font-size: 11px;
    margin: 10px 0;

}

.conteneur-benefit .service-text{
    margin:10px;

}

.conteneur-benefit a{
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    border-radius: 0px;

    
}
.pied-page{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 50px;
}
.pied h6{
    color: #90a1b6;
    padding: 05px;
}
.pied h4{
    padding: 05px;
}
.pied-page .pied-button button{
    background-color: #2177f2;
    border:none;
    border-radius: 08px;
    padding: 10px;
    color: white;
}
